<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>	
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
	<modules runAllManagedModulesForAllRequests="true">
		<remove name="WebDAVModule"/>
	</modules>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Yuppie.ConnectHome.APIBD.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 545a2112-082a-4e72-aa0d-3251beb385a2-->